<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>antdt.filter.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>antdt.listener.MyContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>antdt.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAcountServlet</servlet-name>
        <servlet-class>antdt.controller.DeleteAcountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>printCookieServlet</servlet-name>
        <servlet-class>thinhdph.controller.PrintCookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartupServlet</servlet-name>
        <servlet-class>antdt.controller.StartupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAcountServlet</servlet-name>
        <servlet-class>antdt.controller.UpdateAcountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>antdt.controller.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemToCartServlet</servlet-name>
        <servlet-class>antdt.controller.RemoveItemToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAcountServlet</servlet-name>
        <url-pattern>/DeleteAcountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartupServlet</servlet-name>
        <url-pattern>/StartupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAcountServlet</servlet-name>
        <url-pattern>/UpdateAcountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/AddItemToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemToCartServlet</servlet-name>
        <url-pattern>/RemoveItemToCartServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--<welcome-file-list>
        <welcome-file>DispatchServlet</welcome-file>
    </welcome-file-list>-->
    <resource-ref>
        <res-ref-name>SE140048</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
